project_id = "wocodvpvpwupaqhptdnf"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[auth]
enabled = true
site_url = "https://focuu.lovable.app"

[functions.send-subscription-reminder]
verify_jwt = false
